.different{
    padding: 3em 0 3em 0;height: 120vh;
   
    h2{
        color:#CE6D28;font-size: 35px;text-transform: capitalize;padding-bottom: 10px;
    }
    p{
        color: #CE6D28;font-size: 18px;
    }
    p span{
        display: block;padding-bottom: 50px;
    }

    .inner{
        display: flex;flex-wrap: wrap;justify-content: space-evenly;margin-bottom: 10px;position: relative;;
    }
    .one{
        width: 40%;height: 150px;
        h3{
            font-size: 50px;font-weight: bolder;padding-bottom: 30px;
        }
        p{
            font-size: 25px;
        }
    }
    #line{
        border-right: 1.5px solid #313492;
    }
    #left{
        width: 20%;position: absolute;left: -30px;
    }
    #right{
        width: 20%;margin-left: auto;position: absolute;right: 0;
    }
}

@media screen and(min-width: 768px) {
    .different{
        height: 70vh;
    }
}



@media screen and(min-width: 1024px) {
    .different{
        height: 80vh;
    }
}